---
import RootLayout from "@layouts/root-layout.astro"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
    const blogEntries = await getCollection("project")
    return blogEntries.map((entry) => {
        const [_, id] = entry.slug.split("/")

        return {
            params: { slug: id },
            props: { entry },
        }
    })
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<RootLayout title="Pramudya's Portfolio">
    <div class="flex items-center justify-center">
        <h1>Under Construction</h1>
        <Content />
    </div>
</RootLayout>
