---
import RootLayout from "@layouts/root-layout.astro"
---

<RootLayout title="Welcome to Astro.">
    <div class="flex items-center justify-center">
        <h1>Under Development</h1>
    </div>
</RootLayout>
