---
import DashedContent from "@components/dashed-content.astro"
import Heading from "@components/heading.astro"
import RootLayout from "@layouts/root-layout.astro"
---

<RootLayout title="Pramudya's Portfolio">
    <div class="flex flex-col space-y-8">
        <Heading>About Me</Heading>
        <hr />
        <div>
            <h2 class="mb-2 text-xl font-bold tracking-wide">Nice To Meet You !</h2>
            <p class="leading-relaxed">
                Hello, I&#39;m pram. As a passionated Software Engineer, I harness the power of
                technology to bring immersive digital experiences to life. With expertise in <span
                    class="font-semibold tracking-wide"
                >
                    Front-end Development,
                </span>I focussed on crafting visually stunning and user-friendly interfaces that
                captivate and inspire.
            </p>
        </div>
        <div class="space-y-2">
            <p class="leading-relaxed">Here are some of the technologies I frequently utilize:</p>
            <ul class="list-disc space-y-2 pl-4">
                <li>Typescript, type-safe javascript</li>
                <li>Frontend frameworks like React, Vue, Svelte</li>
                <li>Server-side rendering such as Nextjs, SvelteKit, Nuxtjs</li>
                <li>RESTful APIs and GraphQL API</li>
                <li>Styled system using native CSS, CSS-in-JS, or TailwindCSS</li>
                <li>Web caching, cookies, and asyncronus programming</li>
                <li>Backend as a service such as Firebase, Supabase, etc</li>
                <li>State management using native stores, Zustand, Redux, Jotai, etc</li>
                <li>UI design using Figma</li>
            </ul>
        </div>
        <hr />
        <h2 class="text-xl font-bold tracking-wide">Working Experiences</h2>
        <div class="flex flex-col space-y-8">
            <DashedContent
                label="PT Aksamedia"
                subLabel="Front End Developer | React"
                rightContent="Sep 2022 - now"
                more="Initializing a cutting-edge web application project which becomes the flagship product of the company—a comprehensive academic information system catering to the needs of kindergarten through high school."
            />
            <DashedContent
                label="Freelancing"
                subLabel="Front End Developer"
                rightContent="Jun 2022 - Jul 2022"
                more="Crafting a sales portfolio showcasing exquisite natural skin masks, infused with a blend of modern aesthetics and informative allure."
            />
            <DashedContent
                label="PT Andromedia"
                subLabel="Fullstack Developer"
                rightContent="Feb 2022 - Jul 2022"
                more="As a part of “Kampus Merdeka” student, I has been maintaining the existing technology infrastructure and collaborating with a product team to implement new features and strategically plan for future products. Also, developing efficient and maintainable software that meets the business objectives and needs."
            />
            <DashedContent
                label="Freelancing"
                subLabel="Front End Developer"
                rightContent="Jul 2021 - Aug 2021"
                more="Developing a shrimp skin mask sales portfolio web application, including interface design, responsive UI, and fully functional application that is ready to be deployed."
            />
        </div>
    </div>
</RootLayout>
