---
import DashedContent from "@components/dashed-content.astro"
import Heading from "@components/heading.astro"
import RootLayout from "@layouts/root-layout.astro"
---

<RootLayout title="Portofolio Pramudya">
    <div class="flex flex-col space-y-8">
        <Heading>Tentang Saya</Heading>
        <hr class="border-dark-2/50 dark:border-dark-4" />
        <p class="leading-relaxed">
            Sebagai pengembang perangkat lunak, saya menggunakan perkembangan teknologi untuk
            menghadirkan pengalaman digital yang bermanfaat ke dalam kehidupan. Dengan keahlian
            dalam Pengembangan <span class="font-semibold tracking-wide text-dark-12">
                Front-end</span
            >, saya berfokus pada membuat antarmuka yang modern secara visual dan ramah pengguna
            yang memikat dan menginspirasi.
        </p>
        <div class="space-y-2">
            <p class="leading-relaxed">
                Berikut adalah beberapa teknologi yang sering saya gunakan:
            </p>
            <ul class="list-disc space-y-2 pl-4">
                <li>Typescript, sebuah type-safe javascript</li>
                <li>Frontend framework seperti React, Vue, Svelte</li>
                <li>Server-side rendering seperti Nextjs, SvelteKit, Nuxtjs</li>
                <li>RESTful APIs dan GraphQL API</li>
                <li>Styled system menggunakan native CSS, CSS-in-JS, bahkan TailwindCSS</li>
                <li>Web caching, cookies, dan asyncronus programming</li>
                <li>Backend as a service seperti Firebase atau Supabase</li>
                <li>State management menggunakan native stores, Zustand, Redux, Jotai</li>
            </ul>
        </div>
        <hr class="border-dark-2/50 dark:border-dark-4" />
        <h2 class="text-xl font-semibold tracking-wide">Pengalaman Kerja</h2>
        <div class="flex flex-col space-y-8">
            <DashedContent
                label="PT Aksamedia"
                subLabel="Front End Developer | React"
                rightContent="Sep 2022 - sekarang"
                more="Menginisialiasi proyek aplikasi web yang siap untuk menjadi produk utama perusahaan berupa sistem informasi akademik komprehensif yang melayani kebutuhan akademis mulai jenjang taman kanak-kanak hingga sekolah menengah atas."
            />
            <DashedContent
                label="Pekerja Lepas"
                subLabel="Front End Developer"
                rightContent="Jun 2022 - Jul 2022"
                more="Membuat portofolio penjualan masker kulit alami yang elegan, dengan perpaduan estetika yang modern serta informatif."
            />
            <DashedContent
                label="PT Andromedia"
                subLabel="Fullstack Developer"
                rightContent="Feb 2022 - Jul 2022"
                more="Sebagai bagian dari mahasiswa “Kampus Merdeka”, saya telah memelihara infrastruktur teknologi yang ada dan berkolaborasi dengan tim produk untuk mengimplementasikan fitur baru dan merencanakan produk masa depan secara strategis. Juga, mengembangkan perangkat lunak yang efisien dan dapat dipelihara yang memenuhi tujuan dan kebutuhan bisnis."
            />
            <DashedContent
                label="Pekerja Lepas"
                subLabel="Front End Developer"
                rightContent="Jul 2021 - Agu 2021"
                more="Mengembangkan aplikasi web portofolio penjualan masker kulit udang, termasuk desain antarmuka, UI yang responsif, dan aplikasi yang berfungsi penuh yang siap untuk diterapkan."
            />
        </div>
    </div>
</RootLayout>
