---
import Section from '../templates/Section.astro'
---

<Section>
    <h2 class="text-lg font-semibold md:text-xl">About</h2>
    <p class="text-sm font-normal leading-relaxed md:text-base">
        Hello, I'm Pram. A software engineer with over <span class="font-semibold">2 years of hands-on experience</span
        >, specializing in the development of interactive user interfaces using various modern front-end libraries,
        coupled with experience in designing and integrating APIs into applications. Committed delivering high-quality
        products and consistently bringing innovation into project.
    </p>
</Section>
