---
import DashedContent from '../DashedContent.astro'
import Section from '../templates/Section.astro'
---

<Section>
    <h2 class="text-xl font-semibold">Education</h2>

    <div class="flex flex-col space-y-4">
        <DashedContent label="BNSP Certification" subLabel="Junior Web Programmer" rightContent="Feb 2024" />
        <DashedContent
            label={`UPN "Veteran" East Java`}
            subLabel="Bachelor's Degree of Computer Science"
            rightContent="Sep 2019 - Nov 2023"
        />
    </div>
</Section>
