---
import Profile from '@/assets/pics/PROFILE.jpg'
import { Image } from 'astro:assets'
import Icons from '../ui/Icon'
---

<div class="pr-3">
    <div class="relative size-[112px] shrink-0 border border-dark-2 p-1">
        <div class="h-full w-full overflow-hidden rounded-lg border border-white">
            <Image src={Profile} alt="profile-image" class="h-full w-full object-cover" />
        </div>

        <div class="absolute left-[-8px] top-[-8px]">
            <Icons.plus className="size-4 stroke-dark-3" />
        </div>

        <div class="absolute right-[-8px] top-[-8px]">
            <Icons.plus className="size-4 stroke-dark-3" />
        </div>

        <div class="absolute bottom-[-8px] right-[-8px]">
            <Icons.plus className="size-4 stroke-dark-3" />
        </div>

        <div class="absolute bottom-[-8px] left-[-8px]">
            <Icons.plus className="size-4 stroke-dark-3" />
        </div>
    </div>
</div>
