---
import { DataProjects } from '@/lib/constant'
import CardGridsHover from '../ProjectCardGrids'
import ProjectsHeading from '../ProjectsHeading'
import Section from '../templates/Section.astro'
---

<Section>
    <div class="flex flex-col space-y-1 pb-4">
        <ProjectsHeading client:idle />
        <p class="text-sm font-normal md:text-base">
            An virtual collection of my projects, college assignments, and client collaborations, showcasing my diverse
            range of skills and accomplishments.
        </p>
    </div>

    <CardGridsHover client:idle items={DataProjects} />
</Section>
