---
import { Image } from "@astrojs/image/components"
import PageLayout from "@layouts/page-layout.astro"
import { Icon } from "astro-icon"
import Profile from "../assets/images/PROFILE.jpg"
---

<PageLayout title="Welcome to Astro.">
    <section class="flex flex-col space-y-10">
        <div class="flex flex-col space-y-4">
            <h1 class="text-3xl font-semibold">Pramudya Indra</h1>
            <p class="leading-relaxed">
                Hello, I&#39;m pram. I currently work as a Software Engineer, to be specific as a <strong
                    class="font-bold">Front-end Developer</strong
                >.
            </p>
        </div>
        <div class="relative">
            <Image
                src={Profile}
                alt="profile"
                width={120}
                height={120}
                format="webp"
                class="relative z-10 rounded-full"
            />
            <div
                class="absolute bottom-[-2px] left-[2px] h-full w-[120px] rounded-full border-2 border-dark-4"
            >
            </div>
        </div>
        <p class="leading-relaxed">
            I really enjoy creating user interfaces those have high interactivity. Also, I&#39;m
            experinced working with UI frameworks such as React, Svelte, Vue, and server-side
            rendering like Next.js.
        </p>
        <div class="flex flex-col space-y-4">
            <p>Feel free to keep in touch with me on :</p>
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.instagram.com/pramudyatamir/"
                class="flex max-w-fit items-center space-x-2 text-dark-4 transition hover:text-dark-1"
            >
                <span class="font-semibold"> Instagram</span>
                <Icon name="uil:arrow-up-right" class="h-4 w-4" />
            </a>
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/pramudya-indra/"
                class="flex max-w-fit items-center space-x-2 text-dark-4 transition hover:text-dark-1"
            >
                <span class="font-semibold"> LinkedIn</span>
                <Icon name="uil:arrow-up-right" class="h-4 w-4" />
            </a>
        </div>
    </section>
</PageLayout>
