---
import About from '@/components/blocks/About.astro'
import Education from '@/components/blocks/Education.astro'
import ProfilePic from '@/components/blocks/ProfilePic.astro'
import Projects from '@/components/blocks/Projects.astro'
import Skills from '@/components/blocks/Skills.astro'
import Title from '@/components/blocks/Title'
import WorkingExperience from '@/components/blocks/WorkingExperience.astro'
import Section from '@/components/templates/Section.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Portfolio | Pramudya Tamir">
    <Section className="w-full flex-row items-center justify-center gap-[3rem] pt-[1.5rem]">
        <Title client:idle />
        <ProfilePic />
    </Section>

    <About />

    <WorkingExperience />

    <Education />

    <Skills />

    <Projects />
</Layout>
