---
import PageLayout from "@layouts/page-layout.astro"
---

<PageLayout title="Welcome to Astro.">
    <div class="flex items-center justify-center">
        <h1>Under Development</h1>
    </div>
</PageLayout>
