<section class="flex flex-col space-y-4 py-[2rem]">
    <h2 class="text-xl font-semibold">About</h2>
    <p class="font-normal">
        Hello, I'm Pram. A software engineer with over <span class="font-semibold">2 years of hands-on experience</span
        >, specializing in the development of interactive user interfaces using various modern front-end libraries,
        coupled with experience in designing and integrating APIs into applications. Committed delivering high-quality
        products and consistently bringing innovation into project.
    </p>
</section>
