---
import { Icon } from "astro-icon"
import { twMerge } from "tailwind-merge"

export interface Props {
    href: string
    label: string
    isExternal?: boolean
    exact?: boolean
}
const { href, label, isExternal = false, exact = false } = Astro.props

const pathname = new URL(Astro.request.url).pathname

const externalLinkProps = isExternal
    ? {
          target: "_blank",
          rel: "noopener noreferrer",
      }
    : {}

const getActiveState = () => {
    const pathnames = Astro.url.pathname.split("/")

    if (pathname.includes("project") && href.includes("projects")) {
        return true
    }
    if (exact) {
        if (pathnames[2] === "") {
            return true
        } else {
            return false
        }
    } else {
        return pathname.includes(href)
    }
}
---

<a
    {href}
    {...externalLinkProps}
    class={twMerge(
        "rounded p-2 transition hover:bg-dark-1 hover:dark:bg-dark-9 group flex space-x-1",
        getActiveState() ? "bg-dark-1 dark:bg-dark-8 flex space-x-1" : ""
    )}
>
    <span
        class={twMerge(
            "text-sm group-hover:dark:text-dark-1 group-hover:text-dark-9 transition tracking-wide",
            getActiveState()
                ? "text-dark-12 dark:text-dark-1 font-semibold"
                : "text-dark-2 dark:text-dark-4 font-normal"
        )}
    >
        {label}
    </span>
    {
        isExternal && (
            <Icon
                name="uil:arrow-up-right"
                class={twMerge(
                    "h-3 w-3",
                    getActiveState()
                        ? "text-dark-12 dark:text-dark-1"
                        : "text-dark-2 dark:text-dark-4"
                )}
            />
        )
    }
</a>
