---
import cx from "@functions/cx"
import { Icon } from "astro-icon"

export interface Props {
    href: string
    label: string
    isExternal?: boolean
    exact?: boolean
}
const { href, label, isExternal = false, exact = false } = Astro.props

const pathname = new URL(Astro.request.url).pathname

const externalLinkProps = isExternal
    ? {
          target: "_blank",
          rel: "noopener noreferrer",
      }
    : {}

const getActiveState = () => {
    const pathnames = Astro.url.pathname.split("/")
    console.log("pathnames", pathnames)

    if (exact) {
        if (pathnames[2] === "") {
            return true
        } else {
            return false
        }
    } else {
        return pathname.includes(href)
    }
}

console.log("x", getActiveState())
---

<a
    {href}
    {...externalLinkProps}
    class={cx(
        "rounded p-2 transition hover:bg-dark-9 group",
        getActiveState() ? "bg-dark-8 flex space-x-1" : ""
    )}
>
    <span
        class={cx(
            "text-sm group-hover:text-dark-1 transition font-semibold tracking-wide",
            getActiveState() ? "text-dark-1" : "text-dark-4"
        )}
    >
        {label}
    </span>
    {isExternal && <Icon name="uil:arrow-up-right" class="h-3 w-3" />}
</a>
