---
interface Props {
    label: string
    subLabel: string
    rightContent: string
}

const { label, rightContent, subLabel } = Astro.props
---

<div class="relative w-full">
    <div class="flex flex-col space-y-2">
        <div class="relative flex items-center justify-between">
            <p class="z-10 w-fit bg-white pr-1 text-sm font-semibold dark:bg-dark-12 md:pr-2 md:text-base">
                {label}
            </p>
            <div
                class="absolute top-1/2 w-full -translate-y-1/2 border-x-0 border-b-0 border-t border-dashed border-dark-2/50 dark:border-dark-5"
            >
            </div>
            <span
                class="z-10 w-fit bg-white pl-1 text-xs uppercase text-dark-2 dark:bg-dark-12 dark:text-dark-4 md:pl-2 md:text-sm"
            >
                {rightContent}
            </span>
        </div>
        <p class="text-sm text-dark-4 dark:text-dark-2">{subLabel}</p>
    </div>
</div>
