<h1
    class="bg-gradient-to-tr from-dark-12 to-dark-3 bg-clip-text font-sans text-3xl font-bold tracking-wide text-transparent dark:bg-gradient-to-b dark:from-dark-1 dark:to-dark-2/80"
>
    <slot />
</h1>
