---
interface Props {
    tags: string[]
}

const { tags } = Astro.props
---

<div class="flex w-full flex-wrap items-center gap-x-3 gap-y-3">
    {
        tags.map((tag) => (
            <div class="min-w-[64px] rounded-full bg-dark-1 px-[10px] py-[6px] dark:bg-dark-8 md:min-w-[82px] md:px-3 md:py-2 ">
                <p class="text-center text-sm text-dark-8 dark:text-dark-1">{tag}</p>
            </div>
        ))
    }
</div>
