---
import { DataSkills } from '@/lib/constant'
import Badge from './Badge.astro'
---

<section class="flex flex-col space-y-4 py-[2rem]">
    <div class="flex flex-col space-y-1">
        <h2 class="text-xl font-semibold">Technical Skills</h2>
        <p>Here are some of the technologies I frequently utilize and familiar with:</p>
    </div>

    <div class="flex flex-wrap items-center gap-2">
        {DataSkills.map((skill) => <Badge label={skill} />)}
    </div>
</section>
