---
import { Icon } from "astro-icon"
import RootLayout from "./root-layout.astro"

const [, lang] = Astro.url.pathname.split("/")
---

<RootLayout title="Pramudya's Portfolio" hideFooter>
    <section class="flex flex-col space-y-7">
        <slot />
        <!-- keep in touch buttons -->
        <div class="flex flex-col space-y-3">
            <p>
                {
                    lang === "en"
                        ? "Feel free to keep in touch with me on :"
                        : "Ga perlu sungkan, mari terhubung denganku melalui :"
                }
            </p>
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.instagram.com/pramudyatamir/"
                class="flex max-w-fit items-center font-semibold transition duration-300"
            >
                Instagram
                <Icon name="uil:arrow-up-right" class="ml-1 h-4 w-4" />
            </a>
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/pramudya-indra/"
                class="flex max-w-fit items-center font-semibold transition duration-300"
            >
                LinkedIn
                <Icon name="uil:arrow-up-right" class="ml-1 h-4 w-4" />
            </a>
        </div>
    </section>
</RootLayout>
