---
import "@fontsource/ibm-plex-sans"

import AnchorButton from "@components/anchor-button.astro"
import Container from "@components/container.astro"
import DialogTrigger from "@components/dialog-trigger"
import { Icon } from "astro-icon"
import { getLangFromUrl, useTranslations } from "i18n/utils"

export interface Props {
    title: string
}

const { title } = Astro.props

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Container>
            <nav class="sticky left-0 top-0 mb-10 flex h-fit items-center justify-between">
                <div class="flex items-center space-x-2">
                    <AnchorButton href={`/${lang}/`} label={t("nav.home")} exact />
                    <AnchorButton href="projects" label={t("nav.projects")} />
                    <AnchorButton href="about" label={t("nav.about")} />
                    <AnchorButton href="contact" label={t("nav.contact")} />
                </div>
                <!-- @ts-ignore -->
                <DialogTrigger client:only="preact">
                    <Fragment slot="icon">
                        <Icon name="uil:setting" class="h-4 w-4" />
                    </Fragment>
                </DialogTrigger>
            </nav>
            <slot />
        </Container>
    </body>
</html>
<style is:global>
    html {
        background-color: #161616;
        color: #ededed;
    }
</style>
